.App {
  margin: 0 auto;
  max-width: 600px;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  /* align-items: center; */
  /* padding: 10px; */
  /* max-width: 500px; */
  /* width: 100%; */
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.box-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.box-column {
  display: flex;
  flex-direction: column;
}

.child {
  flex: 50%;
}

.border {
  border-radius: 25px;
  border: 2px solid black;
}

ul {
  list-style-type: none;
}

h2 {
  text-align: center;
}

/* Implement space between on box-row
   Make sleek and modern
*/
