.App {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  /* align-items: center; */
  padding: 10px;
  max-width: 500px;
  /* width: 100%; */
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.child {
  flex: 50%;
}

.border {
  border-radius: 25px;
  border: 2px solid black;
}

ul {
  list-style-type: none;
}
